{% extends "base.html" %}

{% block title %}Public Transport Drilldown{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/rocketbotweb.js?{{ "{{VERSION}}" }}"></script>
<script type="text/javascript">RocketBotWeb.Bim.Drilldown.setUp({{ known_column_names|html_inline_json|safe }});</script>
{% endblock %}

{% block content %}
<main class="bim-drilldown">

<h1>Public Transport Drilldown</h1>

<div id="bim-drilldown-controls"></div>

<table class="bim-drilldown booktable">

<tr class="header-row">
    {%- for column_heading in column_headings %}
        <th>{{ column_heading|escape }}</th>
    {%- endfor %}
</tr>

{%- for row in rows %}
    <tr>
        {%- for cell in row %}
        <td>{{ cell|escape }}</td>
        {%- endfor %}
    </tr>
{%- endfor %}

</table>

</main>

{% endblock %}
