{% extends "base.html" %}

{% block title %}Public Transport Achievements{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // <![CDATA[
    document.addEventListener("DOMContentLoaded", function () {
        // add info cells
        var tableRows = document.querySelectorAll("table.bim-achievements tr");
        for (var i = 0; i < tableRows.length; i++) {
            var tableRow = tableRows.item(i);
            var isHeader = tableRow.classList.contains("header-row");
            var infoCell;
            if (isHeader) {
                infoCell = document.createElement("th");
                infoCell.classList.add("info");
            } else {
                infoCell = document.createElement("td");
                infoCell.classList.add("info");
                infoCell.textContent = "\u2139";
            }

            var firstRider = tableRow.querySelector(".rider");
            if (firstRider === null) {
                tableRow.appendChild(infoCell);
            } else {
                tableRow.insertBefore(infoCell, firstRider);
            }

            var achievementTitle = tableRow.querySelector("th.achievement").title;
            (function (innerCell, innerTitle) {
                innerCell.addEventListener("click", function () {
                    alert(innerTitle);
                });
            })(infoCell, achievementTitle);
        }
    });
    // ]]>
</script>
{% endblock %}

{% block content %}
<main class="bim-achievements">

<h1>Public Transport Achievements</h1>

<table class="bim-achievements booktable">

<tr class="header-row">
    <th class="achievement">Achievement</th>
    {%- for rider in all_riders %}
        <th class="rider" data-rider-username="{{ rider|escape }}">{{ rider|escape }}</th>
    {%- endfor %}
</tr>

{%- for achievement in all_achievements %}
    <tr class="achievement" data-achievement-id="{{ achievement.id }}">
        <th class="achievement" title="{{ achievement.description|escape }}">{{ achievement.name|escape }}</th>
        {%- if let Some(rider_to_timestamp) = achievement_to_rider_to_timestamp.get(achievement.id) %}
            {%- for rider in all_riders %}
                {%- if let Some(timestamp) = rider_to_timestamp.get(rider.as_str()) %}
                    <td class="rider achieved" data-rider-username="{{ rider|escape }}" data-timestamp="{{ timestamp|escape }}">{{ timestamp }}</td>
                {%- else %}
                    <td class="rider pending" data-rider-username="{{ rider|escape }}"></td>
                {%- endif %}
            {%- endfor %}
        {%- else %}
            {%- for rider in all_riders %}
                <td class="rider pending" data-rider-username="{{ rider|escape }}"></td>
            {%- endfor %}
        {%- endif %}
    </tr>
{%- endfor %}

</table>

</main>

{% endblock %}
