{% extends "base.html" %}

{% block title %}Public Transport Coverage{% endblock %}

{% block scripts %}
<script type="text/javascript">
    //<![CDATA[
    document.addEventListener("DOMContentLoaded", function () {
        var bchi = document.getElementById("bim-coverage-hide-inactive");
        bchi.addEventListener("change", function () {
            var vehicle_boxes = document.querySelectorAll("main.bim-coverage .vehicles-box");
            for (var i = 0; i < vehicle_boxes.length; i++) {
                // are any vehicles active or ridden?
                var active_vehicles = vehicle_boxes[i].querySelectorAll(".vehicle.active");
                var ridden_vehicles = vehicle_boxes[i].querySelectorAll(".vehicle.ridden");
                if (active_vehicles.length + ridden_vehicles.length === 0) {
                    // hide the whole box
                    vehicle_boxes[i].style.display = bchi.checked ? "none" : "";
                    continue;
                }

                var inactive_vehicles = vehicle_boxes[i].querySelectorAll(".vehicle.inactive.unridden");
                for (var j = 0; j < inactive_vehicles.length; j++) {
                    inactive_vehicles[j].style.display = bchi.checked ? "none" : "";
                }
            }
        });
    });
    //]]>
</script>
{% endblock %}

{% block content %}
<main class="bim-coverage">

<h1>Public Transport Coverage</h1>

<label><input id="bim-coverage-hide-inactive" type="checkbox" /> hide inactive vehicles</label>

{% for (company, type_to_block_to_vehicles) in company_to_type_to_block_to_vehicles %}
<section class="company">
<h2>{{ company|escape }}</h2>

{% for (type, block_to_vehicles) in type_to_block_to_vehicles %}
<section class="vehicle-type">
{% if type != "" %}<h3 class="vehicle-type">{{ type|escape }}</h3>{% endif %}

{% for (blk, vehicles) in block_to_vehicles %}
<section class="vehicle-block">

<div class="vehicles-box">

{% if blk.len() > 0 %}
<div class="block-name floaty">{{ blk|escape }}</div>
{% endif %}

{% for vehicle in vehicles -%}
<a href="bim-detail?company={{ company|urlencode|escape }}&amp;vehicle={{ vehicle.full_number_str|urlencode|escape }}"><div
    class="vehicle floaty {% if vehicle.is_active %}active{% else %}inactive{% endif %} {% if vehicle.ride_count > 0 %}ridden{% else %}unridden{% endif %}" data-full-number="{{ vehicle.full_number_str|escape }}"
    {% if vehicle.has_ride() %}style="background-color:{{ vehicle.ride_count|mix_color(0, max_ride_count, "#eeffee", "#00ff00") }}"{% endif %}
    data-ride-count="{{ vehicle.ride_count }}"
>{{ vehicle.number_str|escape }}</div></a>
{%- endfor %}

</div>

</section> {#- end of vehicle block #}
{% endfor %}

</section> {#- end of vehicle type #}
{% endfor %}

</section> {#- end of company #}
{% endfor %}

</main>

{% endblock %}
