{% extends "base.html" %}

{% block title %}Public Transport Coverage{% endblock %}

{% block content %}
<h1>Public Transport Coverage</h1>

<form method="get">
  <p><label for="bimcoverage-country">Pick a country!</label></p>
  <p>
    <select id="bimcoverage-country" name="country" required="required">
      {% for country in countries %}
        <option value="{{ country|escape }}">{{ country|escape }}</option>
      {% endfor %}
    </select>
  </p>

  <p><label for="bimcoverage-rider">Pick a rider!</label></p>
  <p>
    <select id="bimcoverage-rider" name="rider" required="required">
      <option value="!ALL" selected="selected">all</option>
      {% for rider in riders %}
        <option value="{{ rider|escape }}">{{ rider|escape }}</option>
      {% endfor %}
    </select>
  </p>

  <p><label for="bimcoverage-to-date">Optionally, pick a cutoff date:</label></p>
  <p><input type="date" id="bimcoverage-to-date" name="to-date" /></p>

  <p>
    <label>
      Merge mode:
      <select name="merge-mode">
        <option value="S">Split types</option>
        <option value="M">Merge types</option>
        <option value="F">Group fixed couplings</option>
      </select>
    </label>
  </p>

  <p><label><input type="checkbox" name="hide-inactive" value="1" /> Hide inactive, unridden vehicles</label></p>

  <p><label><input type="checkbox" name="compare" value="1" /> Compare rider to others</label></p>

  <p><label><input type="checkbox" name="ridden-only" value="1" /> Ridden vehicles only</label></p>

  <p><label><input type="checkbox" name="last-rider" value="1" /> Last rider status</label></p>

  <p><input type="submit" value="show coverage" /></p>
</form>

{% endblock %}
