{% extends "base.html" %}

{% block title %}Public Transport Rides{% endblock %}

{% block content %}
<main class="bim-details">

<h1>Public Transport Vehicle</h1>

{% if let Some(veh) = vehicle %}
<section class="facts-figures">
<h2>Facts &amp; Figures</h2>

<table class="bim-vehicle">
  <tr class="vehicle-number">
    <th>Vehicle number</th>
    <td>{{ veh.number }}</td>
  </tr>
  <tr class="company">
    <th>Company</th>
    <td>{{ company|escape }}</td>
  </tr>
  <tr class="type">
    <th>Type</th>
    <td>{{ veh.type_code|escape }}</td>
  </tr>
  <tr class="vehicle-class">
    <th>Class</th>
    <td>{{ veh.vehicle_class }}</td>
  </tr>
  {% if veh.power_sources.len() > 0 %}
  <tr class="power-sources">
    <th>Power sources</th>
    <td>{% for power_source in veh.power_sources %}{% if !loop.first %}, {% endif %}<span class="power-source">{{ power_source }}</span>{% endfor %}</td>
  </tr>
  {% endif %}
  {% if let Some(manufacturer) = veh.manufacturer %}
    <tr class="manufacturer">
      <th>Manufacturer</th>
      <td>{{ manufacturer|escape }}</td>
    </tr>
  {% endif %}
  {% if let Some(depot) = veh.depot %}
    <tr class="depot">
      <th>Depot</th>
      <td>{{ depot|escape }}</td>
    </tr>
  {% endif %}
  {% if veh.in_service_since.is_some() || veh.out_of_service_since.is_some() %}
    <tr class="dates-active">
      <th>Dates active</th>
      <td>
        {%- if let Some(in_service_since) = veh.in_service_since -%}
          <span class="since">{{ in_service_since|escape }}</span>
        {%- endif -%}
        &#8212;
        {%- if let Some(out_of_service_since) = veh.out_of_service_since -%}
          <span class="until">{{ out_of_service_since|escape }}</span>
        {%- endif -%}
      </td>
    </tr>
  {% endif %}
  {% for (other_key, other_value) in veh.other_data %}
    <tr class="other-data">
      <th>{{ other_key|escape }}</th>
      <td>{{ other_value|escape }}</td>
    </tr>
  {% endfor %}
</table>

{% if veh.fixed_coupling.len() > 0 %}
  <p class="fixed-coupling">
    part of fixed coupling:
    <span class="fixed-coupling">
      {%- for fcvn in veh.fixed_coupling -%}
        {%- if !loop.first -%}
          +
        {%- endif -%}
        {%- if fcvn == veh.number|refify -%}
          <strong class="this-vehicle">{{ fcvn }}</strong>
        {%- else -%}
          <a class="other-vehicle" href="?company={{ company|urlencode|escape }}&amp;vehicle={{ fcvn }}">{{ fcvn }}</a>
        {%- endif -%}
      {%- endfor -%}
    </span>
  </p>
{% endif %}
</section>
{% endif %}

<section class="rides">
<h2>Rides</h2>

<table class="bim-vehicle-rides">
  <tr>
    <th class="id">ID</th>
    <th class="rider">rider</th>
    <th class="timestamp">timestamp</th>
    <th class="line">line</th>
    <th class="spec-pos">spec position</th>
    <th class="ride-type">ride type</th>
    <th class="fixed-coupling-pos">fixed coupling position</th>
  </tr>
  {% for ride in rides %}
  <tr>
    <td class="id"><a href="bim-ride-by-id?id={{ ride.id }}">{{ ride.id }}</a></td>
    <td class="rider">{{ ride.rider_username|escape }}</td>
    <td class="timestamp">{{ ride.timestamp|escape }}</td>
    <td class="line">{% if let Some(line) = ride.line %}<a href="bim-line-detail?company={{ company|urlencode|escape }}&amp;line={{ line|urlencode|escape }}">{{ line|escape }}</a>{% endif %}</td>
    <td class="spec-pos">{{ ride.spec_position }}</td>
    <td class="ride-type {{ ride.coupling_mode }}">{{ ride.coupling_mode }}</td>
    <td class="fixed-coupling-pos">{{ ride.fixed_coupling_position }}</td>
  </tr>
  {% endfor %}
</table>

{%- include "parts/bim_position_explanation.html" %}
</section>

</main>
{% endblock %}
