<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<title>Public Transport Vehicle Counts Groups by Ride Count Group</title>
<script src="static/rocketbotweb.js?{{ "{{VERSION}}" }}"></script>
<script>RocketBotWeb.Bim.Charting.setUpByVehicleRideCountGroup();</script>
</head>
<body>
<p><label><input type="checkbox" id="bim-charting-log-plot-checkbox" /> log plot</label></p>
<p>
    <canvas id="chart-canvas"></canvas>
</p>
<script type="application/json" id="chart-data">{{ self.json_data()|safe }}</script>
</body>
</html>
