{% extends "base.html" %}

{% block title %}Public Transport {{ what|escape }} Count Groups by Ride Count Group{% endblock %}

{% block scripts %}
<script src="static/rocketbotweb.js?{{ "{{VERSION}}" }}"></script>
<script>RocketBotWeb.Bim.Charting.setUpByRideCountGroup();</script>
{% endblock %}

{% block content %}
<div id="chart-outer">
    <p><label><input type="checkbox" id="bim-charting-log-plot-checkbox" /> log plot</label></p>
    <div id="chart-container">
        <canvas id="chart-canvas"></canvas>
    </div>
</div>
<script type="application/json" id="chart-data">{{ self.json_data()|safe }}</script>
{% endblock %}
