{% extends "base.html" %}

{% block title %}Public Transport Last Rider Pie Chart{% endblock %}

{% block scripts %}
<script src="static/rocketbotweb.js?{{ "{{VERSION}}" }}"></script>
<script>RocketBotWeb.Bim.Charting.setUpLastRiderPie();</script>
{% endblock %}

{% block content %}
<div id="chart-outer">
    <p id="pie-controls"></p>
    <div id="chart-container">
        <canvas id="chart-canvas"></canvas>
    </div>
</div>
<script type="application/json" id="chart-data">{{ self.json_data()|safe }}</script>
{% endblock %}
