{% extends "base.html" %}

{% block title %}Public Transport Latest Rider Vehicle Count over Time{% endblock %}

{% block scripts %}
<script src="static/rocketbotweb.js?{{ "{{VERSION}}" }}"></script>
<script>RocketBotWeb.Bim.Charting.setUpLatestRiderCount();</script>
{% endblock %}

{% block content %}
<main class="bim-details">

<h1>Public Transport Latest Rider Vehicle Count over Time</h1>

<p>
    <img id="bim-latest-rider-count-over-time-image" src="bim-latest-rider-count-over-time/image{% if let Some(comp) = company %}?company={{ comp|encode_query_parameter|escape }}{% endif %}" />
</p>

<p>
    <ul style="list-style:none">
        {% for rider in riders %}
        <li>
            <span class="rider-square" style="color:{{ rider.color_hex() }}">&#9632;</span>
            <span class="rider-name">{{ rider.name|escape }}</span>
        </li>
        {% endfor %}
    </ul>
</p>

<p>
    <canvas id="sankey-canvas"></canvas>
</p>
<script type="application/json" id="sankey-data">{{ self.sankey_json_data()|safe }}</script>

</main>
{% endblock %}
