{% extends "base.html" %}

{% macro output_line(line, all_companies) -%}
<a
  href="bim-query?line={{ line.number_str|urlencode|escape }}{% for company in all_companies %}&amp;company={{ company|urlencode|escape }}{% endfor %}"
><div
  class="line floaty {% if line.ride_count > 0 %}ridden{% else %}unridden{% endif %} {% if line.everybody_ride_count > 0 %}other-ridden{% else %}other-unridden{% endif %}"
  {% if line.has_ride() -%}
    style="background-color:{{ line.ride_count|mix_color(0, max_ride_count, "#eeffee", "#00ff00") }}"
  {%- else if line.has_everybody_ride() -%}
    style="background-color:{{ line.everybody_ride_count|mix_color(0, everybody_max_ride_count, "#ccccff", "#6666ff") }}"
  {%- endif %}
  data-ride-count="{{ line.ride_count }}"
>{{ line.number_str|escape }}</div></a>
{%- endmacro %}

{% block title %}Public Transport Line Coverage{% endblock %}

{% block content %}
<main class="bim-line-coverage">

<h1>Public Transport Line Coverage</h1>

<section class="skiplinks">
  <p>
    {% for region_name in name_to_region.keys() -%}
      {% if !loop.first -%}
        &middot;
      {% endif -%}
      <a class="region" href="#r-{{ region_name|slugify }}">{{ region_name|escape }}</a>
    {% endfor -%}
  </p>
</section>

{% for (region_name, region) in name_to_region %}
<section class="region" id="r-{{ region_name|slugify }}">
<h2>{{ region_name|escape }}</h2>

{% for (vehicle_class, line_name_to_info) in region.class_to_line_name_to_info %}
<section class="vehicle-type {{ vehicle_class.kind() }}">
<h3>{{ vehicle_class }}</h3>

<section class="line-block">
<div class="lines-box">

{% for (line_name, line) in line_name_to_info -%}
  {% call output_line(line, region.all_companies|as_ref) %}
{%- endfor %}{# line_name_to_info #}

</div>{# lines-box #}
</section>{# line-block #}
</section>{# vehicle-type #}

{% endfor %}{# class_to_line_name_to_info #}

</section>{# region #}
{% endfor %}{# name_to_region #}

</main>

{% endblock %}
