{% extends "base.html" %}

{% block title %}Public Transport Vehicle Status{% endblock %}

{% block scripts %}
<style type="text/css">
  div.vehicle { margin: 0.2em 0; padding: 0.1em; }
  div.vehicle.unridden { background-color: #ccc; }
  div.vehicle.other-only { background-color: #ff9; }
  div.vehicle.other-last { background-color: #ffc; }
  div.vehicle.you-last-recently, div.vehicle.you-only-recently { background-color: #6f6; }
  div.vehicle.you-only { background-color: #9f9; }
  div.vehicle.you-last { background-color: #cfc; }
  div.ride span { margin-left: 0.5em; }
  div.ride span:first-child { margin-left: 0; }
</style>
<script type="text/javascript" src="static/rocketbotweb.js"></script>
<script type="text/javascript">RocketBotWeb.Bim.VehicleStatus.setUp();</script>
{% endblock %}

{% block content %}
<main>

<h1>Public Transport Vehicle Status</h1>

<div id="content">
  Bro, do you even JavaScript?
</div>

</main>
{% endblock %}
