{% extends "base.html" %}

{% block title %}rocketbot{% endblock %}

{% block content %}
<main>

<h1>rocketbot</h1>

<ul>
  <li><a href="topquotes">Top Quotes</a></li>
  <li><a href="thanks">Thanks</a></li>
  <li><a href="nicks-aliases">Nicks and Aliases</a> (<a href="aliases">API</a>)</li>
  <li>
    Public Transport
    <a href="bim-rides">Rides</a>,
    <a href="bim-types">Vehicle Types</a>,
    <a href="bim-vehicles">Vehicles</a> (<a href="bim-vehicles?per-rider=1">per rider</a>),
    <a href="top-bims">Most-Ridden Vehicles</a>,
    <a href="wide-bims">Wide-Audience Vehicles</a>,
    <a href="top-bim-lines">Most-Ridden Lines</a>,
    <a href="bim-coverage">Coverage</a>,
    <a href="bim-achievements">Achievements</a>,
    <a href="bim-ride-by-id">Lookup by ID</a>,
    <a href="bim-latest-rider-count-over-time">Last Rider Vehicle Count over Time</a>
  </li>
</ul>

<p><a href="https://github.com/RavuAlHemio/rocketbot">rocketbot on Github</a></p>

</main>
{% endblock %}
