{% extends "base.html" %}

{% block title %}rocketbot{% endblock %}

{% block content %}
<main>

<h1>rocketbot</h1>

<ul>
  <li><a href="topquotes">Top Quotes</a></li>
  <li><a href="thanks">Thanks</a></li>
  <li><a href="nicks-aliases">Nicks and Aliases</a> (<a href="aliases">API</a>)</li>
  <li>
    Public Transport:
    <ul>
      <li>
        <a href="bim-coverage">Coverage</a>
      </li>
      <li>
        <a href="bim-query">Query</a>,
        <a href="bim-ride-by-id">Lookup by ID</a>,
        <a href="bim-vehicle-status">Vehicle Status</a>
      </li>
      <li>
        <a href="bim-rides">Rides</a>,
        <a href="bim-types">Vehicle Types</a>,
        <a href="bim-vehicles">Vehicles</a> (<a href="bim-vehicles?per-rider=1">per rider</a>),
        <a href="top-bims">Most-Ridden Vehicles</a>,
        <a href="wide-bims">Wide-Audience Vehicles</a>,
        <a href="explorer-bims">Explorer Vehicles</a>,
        <a href="top-bim-lines">Most-Ridden Lines</a>,
        <a href="top-bim-days">Most-Active Days</a>
      </li>
      <li><a href="bim-achievements">Achievements</a></li>
      <li>
        Charts:
        <ul>
          <li>
            Pies:
            <a href="bim-global-stats">Global Stats (by Company)</a>,
            <a href="bim-last-rider-pie">Last Rider Status Count per Rider and Vehicle Type</a>,
            <a href="bim-first-rider-pie">First Rider Vehicle Count per Rider</a>,
            <a href="bim-depot-last-rider-pie">Last Rider Status Count per Depot and Rider</a>
          </li>
          <li>
            Histograms:
            <a href="bim-histogram-day-of-week">Day of Week</a>,
            <a href="bim-histogram-vehicle-ride-count-group">Vehicle Ride Count Group</a>,
            <a href="bim-histogram-line-ride-count-group">Line Ride Count Group</a>,
            <a href="bim-histogram-fixed-coupling">Vehicle in Fixed Coupling</a>,
            <a href="bim-type-histogram">Vehicle Type</a>,
            <a href="bim-last-rider-by-pos">Last Rider Status Count per Fixed Coupling Position</a>
          </li>
          <li>
            Timelines:
            <a href="bim-latest-rider-count-over-time">Last Rider Vehicle Count</a>,
            <a href="bim-fixed-monopolies-over-time">Fixed Monopolies</a>
          </li>
        </ul>
      </li>
      <li><a href="bim-drilldown">Drilldown</a></li>
      <li><a href="bim-odds-ends">Odds and Ends</a></li>
    </ul>
  </li>
</ul>

<p><a href="https://github.com/RavuAlHemio/rocketbot">rocketbot on Github</a></p>

</main>
{% endblock %}
