{% extends "base.html" %}

{% block title %}rocketbot{% endblock %}

{% block content %}
<main>

<h1>rocketbot</h1>

<ul>
  <li><a href="topquotes">Top Quotes</a></li>
  <li><a href="thanks">Thanks</a></li>
  <li><a href="nicks-aliases">Nicks and Aliases</a> (<a href="aliases">API</a>)</li>
  <li>
    Public Transport:
    <ul>
      <li>
        <a href="bim-coverage">Coverage</a>
      </li>
      <li>
        <a href="bim-query">Query</a>, <a href="bim-ride-by-id">Lookup by ID</a>
      </li>
      <li>
        <a href="bim-rides">Rides</a>,
        <a href="bim-types">Vehicle Types</a>,
        <a href="bim-vehicles">Vehicles</a> (<a href="bim-vehicles?per-rider=1">per rider</a>),
        <a href="top-bims">Most-Ridden Vehicles</a>,
        <a href="wide-bims">Wide-Audience Vehicles</a>,
        <a href="explorer-bims">Explorer Vehicles</a>,
        <a href="top-bim-lines">Most-Ridden Lines</a>,
        <a href="top-bim-days">Most-Active Days</a>
      </li>
      <li><a href="bim-achievements">Achievements</a></li>
      <li>
        Charts:
        <a href="bim-global-stats">Global Stats</a>,
        <a href="bim-histogram-day-of-week">Histogram by Day of Week</a>,
        <a href="bim-histogram-vehicle-ride-count-group">Histogram by Vehicle Ride Count Group</a>,
        <a href="bim-histogram-line-ride-count-group">Histogram by Line Ride Count Group</a>,
        <a href="bim-histogram-fixed-coupling">Histogram of Fixed Couplings</a>,
        <a href="bim-latest-rider-count-over-time">Last Rider Vehicle Count over Time</a>,
        <a href="bim-last-rider-pie">Last Rider Status Count per Rider and Vehicle Type</a>
      </li>
    </ul>
  </li>
</ul>

<p><a href="https://github.com/RavuAlHemio/rocketbot">rocketbot on Github</a></p>

</main>
{% endblock %}
