{% extends "base.html" %}

{% block title %}Wide-Audience Public Transport Vehicles{% endblock %}

{% block content %}
<main class="wide-bims">

<h1>Wide-Audience Public Transport Vehicles</h1>

<p>The following vehicles have been ridden by <span class="rider-count">{{ rider_count }}</span> {% if rider_count == 1 %}rider{% else %}riders{% endif %}.</p>

{% for group in rider_groups %}
<section class="rider-group">

<h2>
    {%- for rider in group.riders -%}
        {%- if !loop.first %}, {% endif -%}
        <span class="rider">{{- rider|escape -}}</span>
    {%- endfor -%}
</h2>

<p>
    {%- for vehicle in group.vehicles -%}
        {%- if !loop.first %}, {% endif -%}
        <a href="bim-detail?company={{ vehicle.company|urlencode|escape }}&amp;vehicle={{ vehicle.number }}"><span class="company">{{ vehicle.company|escape }}</span>/<span class="number">{{ vehicle.number }}</span></a>
    {%- endfor -%}
</p>

</section> {#- end of rider group #}
{% endfor %}

</main>

{% endblock %}
