body {
  font-family: sans-serif;
}

table.top-quotes .score.unchanged,
table.nicks-and-aliases .nick.unchanged {
  color: white;
}

table.top-quotes .quote .body,
table.quotes-votes .quote .body {
  font-family: monospace;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  vertical-align: top;
}

table.top-quotes .score {
  padding: 0.5em;
}

table.top-quotes tr.quote .body,
table.quotes-votes tr.quote .body,
table.quotes-votes .votes,
table.booktable.booktable-airy th,
table.booktable.booktable-airy td {
  padding: 0.6em 0.3em;
}

table.nicks-and-aliases .nick,
table.nicks-and-aliases .alias,
table.bim-rides th,
table.bim-rides td,
table.bim-vehicles th,
table.bim-vehicles td,
main.bim-details table th,
main.bim-details table td,
table.booktable th,
table.booktable td {
  padding: 0.3em 0.6em;
}

table.bim-types th,
table.bim-types td,
table.booktable.booktable-spaced th,
table.booktable.booktable-spaced td {
  padding: 0.6em;
}

table.top-quotes tr.quote:first-child td.body,
table.quotes-votes tr:first-child td,
table.nicks-and-aliases tr:first-child td,
table.bim-rides tr:first-child th,
table.bim-rides tr:first-child td,
table.bim-types tr:first-child th,
table.bim-types tr:first-child td,
table.bim-vehicles tr:first-child th,
table.bim-vehicles tr:first-child td,
main.bim-details table tr:first-child th,
main.bim-details table tr:first-child td,
table.booktable tr:first-child th,
table.booktable tr:first-child td {
  border-top: 2px solid black;
  padding-top: 0.6em;
}

table.top-quotes tr.quote td.body,
table.top-quotes td.score.changed,
table.quotes-votes td,
table.nicks-and-aliases td.alias,
table.nicks-and-aliases td.nick.changed,
table.bim-types tr td,
table.booktable tr th,
table.booktable tr td {
  border-top: 1px solid black;
}

table.top-quotes tr:first-child td.score.changed,
table.nicks-and-aliases tr:first-child td.nick.changed,
table.booktable tr.new-section td {
  border-top: 2px solid black;
  padding-top: 0.6em;
}

table.top-quotes tr:last-child td,
table.quotes-votes tr:last-child td,
table.nicks-and-aliases tr:last-child td,
table.booktable.booktable-airy tr:last-child th,
table.booktable.booktable-airy tr:last-child td {
  border-bottom: 2px solid black;
  padding-bottom: 0.3em;
}

table.bim-rides tr:last-child th,
table.bim-rides tr:last-child td,
table.bim-types tr:last-child th,
table.bim-types tr:last-child td,
table.bim-vehicles tr:last-child th,
table.bim-vehicles tr:last-child td,
main.bim-details table tr:last-child th,
main.bim-details table tr:last-child td,
table.booktable tr:last-child th,
table.booktable tr:last-child td {
  border-bottom: 2px solid black;
  padding-bottom: 0.6em;
}

table.thanks-grid td.recipient-header,
table.thanks-grid td.donor-header {
  text-align: center;
  font-weight: bold;
}

table.thanks-grid td.donor-header > div.alibi-div {
  transform: translate(0, 3em) rotate(-90deg);
}

table.thanks-grid td.recipient {
  max-width: 2em;
  height: 10em;
  vertical-align: bottom;
  padding-bottom: 0.8em;
}

table.thanks-grid td.recipient > div.alibi-div {
  transform: rotate(-90deg) translateY(0.6em);
  white-space: nowrap;
}

table.thanks-grid td.donor {
  text-align: right;
  padding-right: 1em;
}

table.thanks-grid td.thanks-count {
  text-align: right;
  min-width: 2em;
}

table.thanks-grid td.thanks-count.zero {
  color: white;
}

table.thanks-grid td.thanks-count.self {
  background-color: #eee;
}

table.thanks-grid .highlight {
  background-color: #eff;
}

table.thanks-grid .bold-highlight {
  background-color: #bff;
}

table.thanks-grid td.sum {
  font-style: italic;
}

table.quotes-votes ul.votes {
  margin: 0;
  padding: 0;
  list-style: none;
}

table.latest-entries td.entry pre {
  margin: 0;
}

section.counter table td,
section.counter table th {
  padding: 0.2em 0.5em;
}

section.counter table td.count,
section.counter table td.percentage {
  text-align: right;
}

section.counter table tr.totals {
  font-weight: bold;
}

section.counter table tr:hover {
  background-color: #dfefff;
}

section.counter table.stats-user-day-hour th.hour,
section.counter table.stats-user-week-day th.weekday {
  text-align: right;
}

section.counter table.stats-user-day-hour td.hour,
section.counter table.stats-user-week-day td.weekday {
  width: 3em;
}

table.sortable th.sort-key.sort-asc::before {
  content: " \0025B2";
}

table.sortable th.sort-key.sort-desc::before {
  content: " \0025BC";
}

table.bim-types td.count,
table.bim-types td.active,
table.bim-types td.ridden {
  text-align: right;
}

table.bim-types tr.unknown-type td.vehicle-type {
  font-style: italic;
}

table.bim-vehicles td.active-from,
table.bim-vehicles td.active-to {
  max-width: 10em;
}
table.bim-vehicles td.ride-count {
  text-align: right;
}

main.bim-coverage .vehicles-box {
  margin-bottom: 1em;
}
main.bim-coverage .vehicles-box .floaty {
  display: inline-block;
  padding: 1px;
  margin-bottom: 0.2em;
  min-width: 3em;
  text-align: center;
}
main.bim-coverage .vehicles-box .block-name::after {
  content: "\002026";
}
main.bim-coverage .vehicles-box .vehicle.ridden {
  background-color: #0f0;
  color: #000;
}
main.bim-coverage .vehicles-box .vehicle.unridden.other-ridden {
  background-color: #66f;
  color: #000;
}
main.bim-coverage .vehicles-box .vehicle.unridden.other-unridden.active {
  background-color: #ccc;
  color: #000;
}
main.bim-coverage .vehicles-box .vehicle.unridden.other-unridden.inactive {
  background-color: #000;
  color: #fff;
}

main.bim-details td.id,
main.bim-details td.spec-pos,
main.bim-details td.fixed-coupling-pos {
  text-align: right;
}

td.numeric-field {
  text-align: right;
}
